@mixin side-padding {
  padding-left: 4rem;
  padding-right: 4rem;

  @media only screen and (max-width: 56.25em) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media only screen and (max-width: 23.44em) {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
  }
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 56.25em) {
    flex-direction: column;
  }
}

@mixin flex-two-col {
  & > * {
    width: 48%;
  }

  @media only screen and (max-width: 56.25em) {
    & > * {
      width: 100%;
    }
  }
}
