.about {
  @include flex;
  @include flex-two-col;
  padding: 0 0 5rem;
  @include side-padding;
  background-color: $light-grayish-blue;

  @media only screen and (max-width: 56.25em) {
    text-align: center;
  }

  &__img {
    @media only screen and (max-width: 56.25em) {
      order: -1;
      margin-bottom: 6rem;
    }
  }

  .paragraph {
    color: #222;
    @media only screen and (max-width: 56.25em) {
      text-align: left;
    }
  }
}
