// HEADER
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  @include side-padding;
  background: &white;

  &__logo-img {
    height: 3rem;
    display: block;
  }

  &__heading {
    display: none;
  }

  &__link {
    text-decoration: none;
    color: $black;
    border: none;
    background: none;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    margin-left: 2rem;
  }
}
