.hero {
  @include flex;
  @include flex-two-col;
  padding: 4rem 0 20rem;
  @include side-padding;
  background-image: url("../img/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-position: center bottom;

  @media only screen and (max-width: 23.44em) {
    background-image: url("../img/bg-curve-mobile.svg");
    padding-bottom: 15rem;
  }

  @media only screen and (max-width: 56.25em) {
    text-align: center;
  }

  @media only screen and (min-width: 1440px) {
    background-size: contain;
  }

  &__form {
    width: 90%;
    max-width: 50rem;
    display: flex;

    @media only screen and (max-width: 56.25em) {
      flex-direction: column;
      max-width: 100%;
      margin: auto;
      width: 100%;
      margin-top: 3.5rem;
    }
  }

  &__input {
    border: 1px solid rgba($black, 0.6);
    margin-right: 1.5rem;
    width: 60%;

    @media only screen and (max-width: 56.25em) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  &__btn {
    width: 40%;

    @media only screen and (max-width: 56.25em) {
      width: 100%;
    }
  }

  &__img {
    @media only screen and (max-width: 56.25em) {
      order: -1;
      margin-bottom: 3rem;
    }
  }
}
